<% @comedians.each do |comedian| %>
  <section class="comedian-<%= comedian.id %>">
    <img src="<%= comedian.thumbnail %>" alt="image of <%= comedian.name %>">
    <ul>
      <li>Name: <%= comedian.name %></li>
      <li>City: <%= comedian.city %></li>
      <li>Age: <%= comedian.age %></li>
    </ul>
    <h3>Specials:</h3>
    <% comedian.specials.each do |special| %>
    <section class="special-<%= special.id %>">  
        <img src="<%= special.thumbnail %>" alt="Cover for <%= special.title %>">
        <h5>Title: <%= special.title %></h5>
        <h5>Runtime: <%= special.length %></h5>
      <% end %>
    </section>
  </section>
<% end %>
